<tr>
  <td class="col-3">Question Paper 1</td>
  <td class="col-3">sasukeucchia</td>
  <td class="col-3">6:9</td>
  <td>
    <a href="something" class="button4" style="background-color: #5bb318">✓</a>
    <a href="something" class="button4" style="background-color: #e64848">X</a>
  </td>
</tr>
