<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="v123_48">
      <div class="v123_71">
        <div class="v123_72"></div>
        <div class="v123_73"></div>
      </div>
      <span class="v123_49">EXAM-HUB</span>
      <div class="v123_52"></div>
      <div class="v123_89"></div>
      <div class="v123_61"></div>
      <div class="v123_74"></div>
      <span class="v123_62">MATH</span><span class="v123_90">SCIENCE</span
      ><span class="v123_83">02/12/2022</span
      ><span class="v123_91">02/12/2022</span
      ><span class="v123_85">02/12/2022</span
      ><span class="v123_92">02/12/2022</span
      ><span class="v123_86">02/12/2022</span
      ><span class="v123_93">02/12/2022</span
      ><span class="v123_87">02/12/2022</span
      ><span class="v123_94">02/12/2022</span
      ><span class="v123_88">02/12/2022</span
      ><span class="v123_95">02/12/2022</span
      ><span class="v123_77">QUESTION PAPER 1</span
      ><span class="v123_96">QUESTION PAPER 1</span
      ><span class="v123_78">QUESTION PAPER 1</span
      ><span class="v123_97">QUESTION PAPER 1</span
      ><span class="v123_79">QUESTION PAPER 1</span
      ><span class="v123_98">QUESTION PAPER 1</span
      ><span class="v123_80">QUESTION PAPER 1</span
      ><span class="v123_99">QUESTION PAPER 1</span
      ><span class="v123_81">QUESTION PAPER 1</span
      ><span class="v123_100">QUESTION PAPER 1</span
      ><span class="v123_75">DOWNLOAD</span><span class="v123_101">UPLOAD</span>
      <div class="v123_66"></div>
      <div class="v124_2"></div>
      <div class="v123_68"></div>
      <span class="v123_70">LOG OUT</span><span class="v124_4">MORE</span
      ><span class="v123_103">Welcome Back Psied,</span>
      <div class="v124_7"><div class="v124_8"></div></div>
    </div>
  </body>
</html>
<br /><br />
<style>
  * {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v123_48 {
    width: 100%;
    height: 2136px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v123_71 {
    width: 122px;
    height: 106px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 94px;
    left: 1228px;
    overflow: hidden;
  }
  .v123_72 {
    width: 38px;
    height: 33px;
    background: rgba(105, 155, 247, 1);
    opacity: 1;
    position: absolute;
    top: 26px;
    left: 41px;
  }
  .v123_73 {
    width: 106px;
    height: 92px;
    background: rgba(105, 155, 247, 1);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 7px;
  }
  .v123_49 {
    width: 244px;
    color: rgba(85, 85, 85, 1);
    position: absolute;
    top: 108px;
    left: 184px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 40px;
    opacity: 1;
    text-align: left;
  }
  .v123_52 {
    width: 100%;
    height: 603px;
    background: rgba(80, 126, 160, 0.27000001072883606);
    opacity: 1;
    position: absolute;
    top: 809px;
    left: 108px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v123_89 {
    width: 100%;
    height: 611px;
    background: rgba(80, 126, 160, 0.27000001072883606);
    opacity: 1;
    position: absolute;
    top: 1679px;
    left: 101px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v123_61 {
    width: 573px;
    height: 176px;
    background: rgba(37, 211, 117, 1);
    opacity: 1;
    position: absolute;
    top: 401px;
    left: 212px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v123_74 {
    width: 573px;
    height: 176px;
    background: rgba(128, 144, 231, 1);
    opacity: 1;
    position: absolute;
    top: 401px;
    left: 942px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v123_62 {
    width: 262px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 730px;
    left: 141px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_90 {
    width: 262px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1600px;
    left: 134px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_83 {
    width: 389px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 884px;
    left: 900px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_91 {
    width: 389px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1754px;
    left: 893px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_85 {
    width: 389px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 991px;
    left: 900px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_92 {
    width: 389px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1861px;
    left: 893px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_86 {
    width: 389px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1086px;
    left: 900px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_93 {
    width: 389px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1956px;
    left: 893px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_87 {
    width: 389px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1193px;
    left: 900px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_94 {
    width: 389px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 2063px;
    left: 893px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_88 {
    width: 389px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1300px;
    left: 900px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_95 {
    width: 389px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 2143px;
    left: 893px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_77 {
    width: 734px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 892px;
    left: 166px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_96 {
    width: 734px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1762px;
    left: 159px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_78 {
    width: 734px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 995px;
    left: 166px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_97 {
    width: 734px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1865px;
    left: 159px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_79 {
    width: 734px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1098px;
    left: 166px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_98 {
    width: 734px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1968px;
    left: 159px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_80 {
    width: 734px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1201px;
    left: 166px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_99 {
    width: 734px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 2071px;
    left: 159px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_81 {
    width: 734px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1304px;
    left: 166px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_100 {
    width: 734px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 2147px;
    left: 159px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_75 {
    width: 341px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 476px;
    left: 1058px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_101 {
    width: 262px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 476px;
    left: 368px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_66 {
    width: 251px;
    height: 77px;
    background: rgba(255, 145, 98, 1);
    opacity: 1;
    position: absolute;
    top: 108px;
    left: 1383px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v124_2 {
    width: 489px;
    height: 77px;
    background: rgba(255, 88, 88, 1);
    opacity: 1;
    position: absolute;
    top: 1450px;
    left: 141px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v123_68 {
    width: 241px;
    height: 67px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 113px;
    left: 1388px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v123_70 {
    width: 155px;
    color: rgba(85, 85, 85, 1);
    position: absolute;
    top: 126px;
    left: 1434px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v124_4 {
    width: 155px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 1468px;
    left: 192px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v123_103 {
    width: 519px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 270px;
    left: 212px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 46px;
    opacity: 1;
    text-align: left;
  }
  .v124_7 {
    width: 84px;
    height: 59px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 1459px;
    left: 526px;
    overflow: hidden;
  }
  .v124_8 {
    width: 60px;
    height: 41px;
    background: rgba(248, 248, 248, 1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 11px;
  }
</style>
