<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/filepond@^4/dist/filepond.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />

    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond-plugin-pdf-preview/dist/filepond-plugin-pdf-preview.min.js"></script>

    <script
      defer
      src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"
    ></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-rename/dist/filepond-plugin-file-rename.js"></script>

    <script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>

    <script defer src="/js/fileUpload.js"></script>

    <title><% if(mode === 'upload'){%>Upload<% }else{%>Download<% } %></title>
  </head>
  <body>
    <h1><%=mode%> page</h1>
    <%if(mode === 'upload'){%>
    <form action="/explore/upload" method="post">
      <label for="filename">Enter Filename</label>
      <input type="text" name="filename" id="filename" />
      <label for="subject">Enter subject name</label>
      <input type="text" name="subject" id="subjectName" />
      <div>
        <input type="file" name="paper" class="filepond" />
      </div>

      <br /><br />
      <button type="submit">Upload</button>

      <% } %>
    </form>
  </body>
</html>
